<p>card works!</p>
<!-- <div class="card-container">
    <div *ngFor="let technique of techniques" class="card">
        <h3>{{ technique.name }}</h3>
        <p>{{ technique.id }}</p>
    </div>
</div> -->

<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{maplante.image}}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{te.name}}</h5>
        <p class="card-text">Nécessite un ensoleillement {{maplante.soleil}} et un arrosage {{maplante.arrosage}} fois
            par semaine. Elle fait partie des {{maplante.categorie}}.</p>

        
        <button href="#" class="btn btn-outline-success">Ajouter à mes
            plantes</button>
    </div>
</div> -->
